Backend/BusinessLogic/bin
Backend/BusinessLogic/obj
Backend/Cache/bin
Backend/Entities/bin
Backend/Entities/obj
Backend/Persistence/bin
Backend/Persistence/obj
Backend/Utilities/bin
Backend/Utilities/obj
Backend/WebApi/bin
Backend/WebApi/obj
Backend/Cache/obj
Backend/WebApi/.sonarqube

